/* .main {
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	z-index: -1;
	top: 0;
	left: 0;
	overflow: hidden;
}

.gradient {
	opacity: 0.5;
}

.circle {
	border-radius: 50%;
	position: absolute;
	filter: blur(250px);
}

.green-circle {
	width: 736.825px;
	height: 736.825px;
	background: #cff85b;
	top: -50%;
	left: 40%;
}
.blue-circle {
	width: 667.608px;
	height: 667.608px;
	background: #3efbe0;
	top: -57%;
	right: 45%;
} */

/* div.open {
	height: 180px;
}

@media (min-width: 625px) and (max-width: 900px) {
	.MuiBox-root.css-1v1cfkl {
		background-size: contain !important;
	}
} */
.App {
	/* position: relative; */
	background: var(--bg-color);
}
@media (max-width: 768px) {
	div.open {
		height: 300px;
	}
}
@media (max-width: 992px) {
	div.open {
		height: 200px;
	}
}
