@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
:root {
	--border-color: #ffffff;
	--very-light-gray: #98a2b3;
	--light-gray: #ffffff80;
	--icon-gray: #475467;
	--gray: #475467;
	--dark-gray: #1d2939;
	--blue: #007aff;
	--green: #cff85b;
	--purple: #9747ff;
	--black: #000000;
	--bg-color: #ffff;
}

[data-theme='dark'] {
	--border-color: #616161;
	--very-light-gray: #98a2b3;
	--light-gray: #00000060;
	--icon-gray: #ffffff;
	--gray: #ffffff80;
	--dark-gray: #ffff;
	--blue: #007aff;
	--green: #cff85b;
	--purple: #9747ff;
	--black: #ffff;
	--bg-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Alexandria', sans-serif !important; */
	font-family: 'IBM Plex Sans Arabic', sans-serif !important;
}

html {
	scroll-behavior: smooth;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--black);
}

ul li a {
	color: var(--gray);
}

nav ul li a.active {
	color: var(--blue);
}

.container {
	margin: 0px auto;
}

.set-padding {
	padding: 7.5rem 0;
}

@media (max-width: 768px) {
	.set-padding {
		padding: 5rem 0;
	}
}
@media (max-width: 992px) {
	.set-padding {
		padding: 5rem 0;
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 335px;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}
